@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range]::-moz-range-thumb {
  @apply bg-green cursor-pointer h-4 w-4 border-none;
}

input[type=range]{
  @apply bg-lilac;
  background-image: linear-gradient(#10D8C4, #10D8C4);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

input[type=range]:focus {
  outline: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  @apply bg-green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
