@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range]::-moz-range-thumb {
  @apply bg-green cursor-pointer h-8 w-8 border-none rounded-full;
  background-image: url('../images/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 10px 20px 5px rgba(16, 216, 196, 0.5);
}

input[type=range]:active::-moz-range-thumb {
  @apply bg-darkGreen;
}

input[type=range] {
  @apply bg-lilac;
  background-image: linear-gradient(#A4F3EB, #A4F3EB);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

input[type=range]:focus {
  outline: none;
}

.toggle-container {
  width: 45px;
  position: relative;
}

.toggle-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CFD8EF;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  width: 43px;
  height: 22px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggle {
  @apply bg-lightGreen;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.image-circles {
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.bg-pattern {
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
}
